

footer {
	font-size: .75em;
	margin: 2em 0 5em 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.order-description {
	line-height: 1.8;
}

.remove-line-item {
	cursor: pointer;
}